/* Deixa geral de navegadores com espaçamentos iniciais 0*/
* {
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
/* componetes cabecalho lado a lado do navbar*/
.Navbar {
    display: flex;
    justify-content: space-between;
}

/*leyout links navbar*/
.nav__link,
ul,
li,
a {
    list-style: none;
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* definição primeiro logo desk*/
.logo__img {
    width: 100px;
    height: 100px;
}

/*logo 2 p/ mobile, desk n aparece*/
.logo__img2 {
    display: none;
}
/* ponteiro mouse cor ao passar acima do link */
nav ul li a:hover {
    color: red
}
/* alinhamento do texto no centro */
.apresentacao {
    text-align: center;
    padding-top: 25px;
}

.titulo,
.descricao,
.txt__descricao1,
.txt__descricao2 {
    padding-top: 25px;
}
/* imgs principais da pusada lado a lado cemntralizadas */
.imgs__principais {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* tamanhos de imagens */
.img__pousada1, .img__pousada2 {
    width: 50rem;
    height: 25rem;
}

.txt__hospedagens {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.img__quartos {
    width: 20.5rem;
    height: 20.5rem;
    border: 10px solid black;
    border-radius: 10px;
}
/*imagens de quartos em grid com duas colunas */
.img__hospedagens {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
}
/*deficinção de alinhamento da tabela */
.tabela__precos {
    padding-top: 20px;
    text-align: center;
}
/* deficições da tabela e seus componentes */
table,
th,
td {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}
/* estilização do formulario, form input e select e labels*/
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(60, 113, 8);
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

select {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
}

input[type="submit"] {
    background-color: cornflowerblue;
    width: 150px;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 10px;
}
/* definições para o mapa */
.mapa {
    margin-top: 20px;
    text-align: center;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
/*definições para o rodapé */
footer{
    margin-top: 120px;
    text-align: center;
}